<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.self_flutter_hide_show_app_bar_bottom_nav_scrolling">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
